OPENAI_API_KEY=coloque_sua_chave_openai_aqui
GROQ_API_KEY=coloque_sua_chave_groq_aqui
GROQ_BASE_URL=https://api.groq.com/openai/v1

DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.epegojdxngrcwvzecupl
DB_PASSWORD=coloque_a_senha_do_supabase_aqui

TRANSCRIBE_PROVIDER=groq
TRANSCRIBE_MODEL=whisper-large-v3-turbo
SUMMARY_MODEL=gpt-4.1-mini

ADMIN_USUARIO=admin
ADMIN_SENHA=123456
SECRET_KEY=troque_por_uma_chave_grande_e_aleatoria
